In [44]:
import sqlite3

# Tableplus
#

In [45]:
# Connection à une base de données
conn = sqlite3.connect('ma_base.db')

In [46]:
# Creer une table

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
     nom TEXT,
     age INTERGER
)
""")
#conn.commit()

In [47]:
# Inserer des données
cursor.execute("""INSERT INTO users(nom, age) VALUES(?, ?)""", ("olivier", 30))


# Recuperer l'id de la donnée que je viens de rentrée
id = cursor.lastrowid
print('dernier id: %d' % id)

OperationalError: database is locked

In [ ]:
# Afficher la bdd avec des tuples

#conn.commit()
cursor.execute("SELECT * FROM users")
for row in cursor:
     print(row)

(1, 'olivier', 30)
(2, 'olivier', 30)
(3, 'olivier', 30)
(4, 'olivier', 30)
(5, 'olivier', 30)
(6, 'olivier', 30)
(7, 'olivier', 30)
(8, 'olivier', 30)

In [ ]:
# Nettoyer la bdd : Compter le nbr d'occurence et en delete n-1
cursor.execute("SELECT COUNT(*) FROM users WHERE nom= %s AND age = %s", ('olivier', 30))
#cursor.execute("SELECT*FROM EMPLOYEE WHERE first_name = %s AND last_name = %s", (employee['firstname'],employee['lastname']))
#cursor.fetchone()[0]
print(row)

#rowsQuery = "SELECT Co() FROM user"
#cursor.execute(rowsQuery)
#numberOfRows = cursor.fetchone()[0]

OperationalError: near "%": syntax error

In [ ]:
# Recuperer les donnée
# cursor.execute("""SELECT name, age FROM users""")
# user1 = cursor.fetchone()
# print(user1)

conn.commit()
conn.close()